#map {
  height: 100vh;
}

.map-icon {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 95vh;
}

.infobox {
  width: 250px;
  padding: 8px;
  border: 2px solid #94bdff;
  border-radius: 5px;
  background-color: rgba(237, 244, 255, 0.9);
  overflow: auto;
}

#checkbox-container {
  flex-shrink: 0;
}

.checkbox-icon {
  padding-right: 5px;
}
